@{
    ViewBag.Title = "Bem vindo ao jogo de Quadribol";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Bem Vindo ao desafio de Quadribol de Harry Potter!</h1>
            <h3 style="margin-top: 10px">Cada reino de Valoran poderá enviar seu time para essa disputa. <br />Utilize o menu para iniciar seu jogo</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
</div>